body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b0d4d4;
    margin: 20px;
}

div {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

#plotContainer {
    width: 80%;
    margin: 0 auto;
}

#plotImage {
    width: 100%;
    height: auto;
}
